
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>
    <link href="@Url.Content("~/Content/UserViewCSS.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    
   <div class="upper_square_background"></div>
    <div class="bottom_square_background"></div>


</body>
</html>
